* {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden-q-head {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: space-between;
}

#question-text {
    font-size: medium;
}

.time-left {
    color: crimson;
    font-size: larger;
}

#quiz-name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 20px;
}

.quiz-name {
    text-align: center;
    width: 180px;
    font-weight: bolder;
}

.quiz-rules {
    font-weight: lighter;
}

.quiz-description {
    font-weight: lighter;
}

#hidden-container {
    display: none;
}

.quiz-questions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
}

.score-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
}

#hidden-score-container {
    display: none;
    border-style: solid;
    border-color: darkgoldenrod;
    border-width: 5px;
    box-shadow: 5px 5px darkgoldenrod;
    height: 500px;
    width: 500px;
}

.buttons {
    background-color: darkgoldenrod;
    color: #f2edf3;
    width: 100px;
    margin: 20px;
    border-radius: 5px;
    padding: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons:hover {
    background-color: darkgray;
}

#score {
    margin-top: 20px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.results {
    font-weight: bold;
    font-size: 25px;
    color: darkgoldenrod;
    text-align: center;
    margin-top: 200px;
    
}

#hidden-right {
    display: none;   
}

#hidden-wrong {
    display: none;
    
    
}

#initials {
    padding: 5px;
    margin: 10px;
}

.top-score {
    display: flex;
    text-align: center;
    justify-content: center;
}

#hidden-top-score {
    display: none;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#hidden-controls-container {
    display: none;
}